
html {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(88,88,91);
}

html, body, #root, #root > div, #root > div > div, #root .home {
  height: 100%;
}
a {
  color: #262626;
}
a:hover {
  color: #9BB73B;
}

/*** HEADER ***/
header .bar {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
img.logo {
  display: block;
  float: left;
  width: auto;
}

header h1 {
  margin: 0;
  padding: 0;
}
header h1::before {
  display: block;
  float: left;
  margin: 0 10px;
  content: '|';
}
header div.leader {
  float: none;
  clear: both;
  margin: 10px 0;
  margin-bottom: 30px;
  padding: 19px;
  color: rgb(255, 255, 255);
}
.intro {
  text-transform: uppercase;
}
/*** FOOTER ***/
footer {
  font-size: 1.2em !important;
  padding: 40px;
  color: #fff;
  background-color: #00596;
  background-color: rgb(012,046,110);
}

/* stick footer to bottom no matter what */
/* the bottom margin is the negative value of the footer's height */
.fixfooter {
  min-height: 100%;
  margin: 0 auto -18.75em;
}

/* .push must be the same height as .footer */
footer, .push {
  height: 18.75em;
}
.fixfooter .form-group.pb {
  padding-top: 4.6875em;
  padding-bottom: 4.6875em;
}

.contact button {
  padding: 0;

  border: none;
  background: none;
}
footer a {
  color: #fff;
}
footer .credits {
  margin-top: 15px;
}
footer .credits .name {
  font-weight: 700;
}
footer .copyright {
  position: relative;
  top: -20px;
}

/*** QUESTIONS ***/

.question li {
  font-size: 1.2em;
}

.list-group-item {
  margin: 0;
  padding: 25px 0 15px 0;
  border: none;
  border-bottom: 1px solid #E87722;
}
.list-group-item:last-of-type {
  border-bottom: none;
}
.list-group-item::after {
  display: table;
  clear: both;

  content: '';
}
.question > label {
  display: flex;

  margin-right: 50px;
}
.question label {
  padding-left: 0;
}

.question label .question-index {
  font-weight: 700;
  float:left;
  margin-left: -15px;
}
.question label .question-index::after {
  content: '.';
}
.question label .question-text {
  font-weight: 400;
  display: block;
  margin-left: 15px;
}

/*** FORM ELEMENTS ***/
button.btn-success {
  font-weight: 700;
  margin-left: 65px;
  padding: 5px 40px;
  text-transform: uppercase;
  color: white;
  border: 3px solid #E87722;
  border-radius: 23px;
  background-color: #E87722;
  transition: all 300ms;
}
.btn-success:focus,
.btn-success:active,
.btn-success:active:focus,
.btn-success:hover {
  color: #fff;
  border: 3px solid #00AEEF;
  background-color: #00AEEF;
}
button.btn-success[disabled] {
  color: rgb(125, 125, 125);
  border: 3px solid rgb(125, 125, 125);
  background: rgb(155, 155, 155);
}
button.btn-success[disabled]:hover {
  border: 3px solid rgb(125, 125, 125);
  background: rgb(185, 185, 185);
}
input[type='radio'] {
  display: none;
}

input[type='radio'] + label span.radio-toggle {
  background-color: #fff;
  border: 1px solid #333;
  -moz-border-radius: 50%;
       border-radius: 50%;
  cursor: pointer;
  float:left;
  margin: 2px 0 0 0;
  width: 13px;
  height: 13px;
  vertical-align: middle;
}

input[type='radio'] + label:hover .radio-toggle {
  background-color: #00AEEF;
}

input[type='radio']:checked + label span.radio-toggle {
  background-color: #00AEEF;
}

input[type='radio'] + label span.radio-toggle,
input[type='radio']:checked + label span.radio-toggle {
  -webkit-transition: background-color 0.2s linear;
     -moz-transition: background-color 0.2s linear;
       -o-transition: background-color 0.2s linear;
          transition: background-color 0.2s linear;
}

.radio-label {
  font-family: 'Titillium Web', sans-serif;
  display: block;;
  font-size: .9em;
  margin-left: 20px;
  width: 100%;
}

/*** RESULTS ***/
#results-overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;

  background: rgba(0, 0, 0, 0.5);

  align-items: center;
  justify-content: center;
}
#results-overlay #result-box {
  overflow-y: scroll;

  width: 80%;
  max-width: 60em;
  max-height: 95%;

  background: #fff;
}
#result-box .score-top {
  min-height: 180px;
  padding: 20px;
  color: #fff;
  background: #00AEEF;
}
#result-box .score-top::after {
  content: '';
  display: table;
  clear: both;
}
#result-box .score-box {
  font-size: 45px;
  line-height: 100px;
  box-sizing: border-box;
  width: 150px;
  margin-right: 20px;
  padding: 0 20px;
  text-align: center;
  color: #E87722;
  background: #fff;
  vertical-align: middle;
  display: inline-block;
}
#result-box .score-words {
  font-size: 2.4em;
  width: calc(100% - 170px);
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
}
#result-box .score-words p:last-of-type {
  margin-bottom: 0;
}

#result-box .score-bottom {
  padding: 40px;
}
#result-box .score-bottom h2 {
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 40px;
  color: #E87722;
}
#result-box .action {
  display: flex;
  margin-top: 40px;
}
#result-box .action button.orange {
  font-weight: 700;
  margin-right: 2rem;
  font-size: 2rem;
  padding: 0 1.5em;
  color: #fff;
  border: none;
  border-radius: 3.5rem;
  background: #E87722;
  height: 7rem;
  line-height: 7rem;
  text-transform: uppercase;
}
#result-box .action button.orange:hover {
  color: rgb(88,88,91);
  border: 2px solid rgb(88,88,91);npm
}
#result-box li {
  margin: 15px 0;
}
#result-box .score-text {
  font-size: 0.9em;
  font-weight: 700;

  padding-bottom: 10px;

  text-transform: uppercase;
}
#result-box .score-text::after {
  content: ':';
}

@media (max-width: 767px) {
  body {
    padding-bottom: 360px;
  }
  #result-box {
    width: 90%;
  }
  #result-box .score-top,
  #result-box .score-bottom {
    padding: 2em;
  }
  #result-box .score-box,
  #result-box .score-words {
    display: block;
    width: 100%;
  }
  #result-box .score-words {
    margin-top: .5em;
  }
  #result-box .action {
    display: block;
  }
  #result-box .action-box button {
    margin-left: 0;
  }
  #result-box .action button.orange {
    margin: 0;
    width: 100%;
    margin-bottom: 1em;
  }
  header .bar {
    display: block;
    padding-top: 1em;
  }
  header .logo {
    float: none;
    display: block;
  }
  header h1 {
    font-size: 1.8em;
    line-height: auto;
    float: none;
    clear: both;
    width: 100%;
    margin-top: 1em;
  }
  header h1::before {
    display: block;
    float: left;
    margin: 0 5px;
    content: ' ';
  }
  button.btn-success {
    margin: 0 auto;
  }
}
